footer.mb-3
  p
    | Всі матеріали на цьому сайті розміщені на умовах
    = " "
    a.link-body-emphasis.link-offset-2.link-underline-opacity-10.link-underline-opacity-75-hover(
      href="https://creativecommons.org/licenses/by/4.0/legalcode.uk"
    ) ліцензії Creative Commons із Зазначенням Авторства 4.0 Міжнародна
    | , якщо інше не зазначено на відповідній сторінці.

  p
    | © 2016‒2024
    = " "
    a.link-body-emphasis.link-offset-2.link-underline-opacity-10.link-underline-opacity-75-hover(
      href="/"
    ) Opendatabot

aside.text-center.p-4
  button.btn(
    data-bs-theme-switch,
    type="button",
    aria-label="Переключити колірну тему"
  )
    i.far.fa-fw.fa-brightness
    i.far.fa-fw.fa-moon
