include ./section.pug
  hgroup.text-center
    p.mb-0.text-body-tertiary Код ЄДРПОУ
    h1.fs-2= companyShortData.code
  h2.fs-1.fw-bolder.text-center= companyShortData.companyName
  dl.text-center
    dt.text-body-tertiary.fw-normal.mb-0 Директор
    dd= companyShortData.ceoName

  .text-center
    menu.d-flex.flex-column.flex-sm-row.justify-content-center.d-print-none
      li
        button.btn.btn-lg.btn-primary.m-2(type="button")
          include:fa-icon(class="me-2"):no-newline ../../fontawesome/svgs/regular/file-pdf.svg
          | Витяг з ЄДР
      li
        button.btn.btn-lg.m-2(type="button")
          include:fa-icon(class="me-2 odb-animate-spin"):no-newline ../../fontawesome/svgs/regular/circle-notch.svg
          | Статут

    include:no-newline ../img/payment-systems.svg
