#odb-open-in-app.collapse.show.d-print-none
  .container-fluid.bg-dark.p-2.d-flex
    button.btn.my-1.text-light.me-2.p-1.fs-4(type="button", aria-label="Close", data-bs-toggle="collapse", data-bs-target="#odb-open-in-app") ×
    img.rounded-3.bg-light(
      src="/img/mobile-logo.png",
      alt="Додаток Опендатабот",
      width="48",
      height="48"
    )
    a.link-light.text-decoration-none.px-2(href="/")
      p.fw-bold.mb-0 Опендатабот — країна у смартфоні
      .small Відкрийте в програмі Опендатабот
    .ms-auto
      a.btn.btn-sm.btn-primary.px-3.rounded-pill.text-uppercase(href="#") Відкрити

script 
  include:uglify-js ../js/mobile-banner.js
