extends layout.pug

mixin section
  section.bg-body.rounded.p-3.mb-2
    block
mixin container
  .bg-body.rounded.p-3.mb-2
    block    

block content
  include ../components/mobile-banner.pug
  .container
    include ../components/header.pug
  .container.mb-3
    +section
      include ../components/jambatron.pug
    +container
      include ../components/promotion.pug

  .container.mb-3
    include ../components/faq.pug
    include ../components/footer.pug
