extends layout.pug

mixin container
  section.bg-body.rounded.p-3.mb-2
    block

block content
  .container
    +container
      hgroup.text-center
        p.mb-0.text-body-tertiary Код ЄДРПОУ
        h1.fs-2= data.edrpou
      h2.fs-1.fw-bolder.text-center= data.companyName
      dl.text-center
        dt.text-body-tertiary.fw-normal.mb-0 Директор
        dd= data.director
