extends layout.pug

block content
  include ../components/mobile-banner.pug
  .container
    include ../components/header.pug
    
    include ../components/jambatron.pug
    include ../components/registry-data.pug

    include ../components/promotion.pug

    include ../components/faq.pug
    include ../components/footer.pug
